{% load static %}

<div class="row footer">
	<div class="container">
		<div class="col-md-9">
			<span>© 2020 MESI, Todos los derechos reservados.</span><br>
			<span>Av. Córdoba 2122 - 2do piso (C1120 AAQ) | Ciudad Autónoma de Buenos Aires | República Argentina | Tel/fax: +54 11 5285-6578</span><br>
			<span>Designed with <i class="fa fa-heart" aria-hidden="true"></i> by 
				<a class="foter" href="https://twitter.com/diegocruztorrez" target="_blank">diegoosvaldo85</a>
			</span>
		</div>
		<div class="col-md-1 social-footer">
			<i class="fa fa-facebook"></i>
		</div>
		<div class="col-md-1 social-footer">
			<i class="fa fa-instagram"></i>
		</div>
		<div class="col-md-1 social-footer">
			<i class="fa fa-envelope"></i>
		</div>
	</div>
</div>