{% load static %}

  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'core:home' %}"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="{% url 'core:institucional' %}">Institucional</a></li>
          <li><a href="{% url 'app:investigadores-list' %}">Integrantes</a></li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proyectos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'app:proyectos-iiep' %}">Proyectos IIEP</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'app:proyectos-list' %}">Proyectos MESi</a>
            </div>                                        
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actividades</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'app:actividades-iiep' %}">Actividades IIEP</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'app:actividades-list' %}">Actividades MESi</a>
            </div>                                        
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publicaciones</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'app:publicaciones-iiep' %}">Publicaciones IIEP</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'app:publicaciones-list'%}">Publicaciones MESi</a>                                       
          </li>
          <li><a href="{% url 'app:novedades-list' %}">Novedades</a></li>
          <li><a href="{% url 'app:datos-list' %}">Datos</a></li>
          <li><a href="{% url 'pde:in' %}">Modelos</a></li>
          <li><a href="{% url 'core:contacto' %}">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>