h1 {
    margin: 0.67em 0;
    font-size: 2em!important;
    color: green!important;
  }



.logo1 {
    max-width: 200px;
    float: left;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo2{
    max-width: 300px;
    margin-top: 25px;
}
.redes-head {
    float: right;
    padding-top: 30px;
}

.pagination.example>.active>a, .pagination.example>.active>span, .pagination.example>.active>a:hover, .pagination.example>.active>span:hover, .pagination.example>.active>a:focus, .pagination.example>.active>span:focus, .btn-primary
{
    background-color:green;
    border-color: green;
   
}

.pagination.example>.active>a
{

    color: whitesmoke!important;

}

a {
    color:green!important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar{
    border-radius:0 !important;
}
.navbar-inverse {
    background-color:green;
    border-color: green;
    color: #cecece;
}
.navbar-inverse .navbar-nav > li > a {
    color:white!important;
    background-color: transparent;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;

}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.nav-tabs li a
{
    font-weight: bold;
    text-transform: uppercase;
}