{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="/">Inicio</a></li>
</ol>

<div class="row " >
    <div class="col-md-8" >
        <div class="col-12" > 
           <div class="col-md-2" style="display: none;"><img src="{% static 'core/img/logo.jpg' %}" style="padding: 20% 0;" class="img-responsive" ></div>
		   <div class="jumbotron">
           	{% for conf in configuracion %}
	              <h1 >MESi<br>
	                <small>{{conf.titulo|truncatechars:"200"}}</small>      
	              </h1>
	          
	           {% if conf.copete %}
					<p>{{conf.copete|safe|truncatechars:"300"}}</p>
				{% else %}
					<p>{{conf.desarrollo|safe|truncatechars:"294"}}</p>
				{% endif %}
			{% endfor %}
			<p><a class="btn btn-primary"  href="{% url 'core:institucional' %}" role="button">Continuar Leyendo &raquo;</a></p>
           <div class="line-custom hr" style="display: none;" >
                <a href="{% url 'core:institucional' %}" class="pull-right">Continuar leyendo<span class="glyphicon glyphicon-chevron-right"></span></a>
           </div>
	   </div>
	   <hr>
	   <h3>Últimas publicaciones</h3>
	 
        {% if publicaciones %}
        	{% for publicacion in publicaciones %}
			<div class="col-lg-4">
			       
			       		<div class="image-content" style="display: none;">
			       			{% if publicacion.imagen %}
							<a href="{{ publicacion.get_absolute_url }}"><img alt="" src="{{ publicacion.imagen.thumbnail.url }}"/></a>
							{% else %}
								<a href="{{ publicacion.get_absolute_url }}">
									<img class="img-thumbnail" src="/media/publicaciones/img/nn.png"/>
								</a>
			       			{% endif %}
						</div>
			          	<h5  ><a href="{{ publicacion.get_absolute_url }}">
			             	{{publicacion.titulo}}</a>
			          	</h5>
			          	<p >
			            	{% for autor in publicacion.integrantes.all %}
			            		<span>{{autor}},</span>
			            	{% endfor %}
						  </p>
			          	{% if publicacion.copete %}
							<p>{{publicacion.copete|striptags|safe|truncatechars:"200"}}</p>
						{% else %}
							<p>{{publicacion.desarrollo|striptags|safe|truncatechars:"200"}}</p>
						{% endif %}
			          	<p> <a href="{{ publicacion.get_absolute_url }}">
			          		<strong>Continuar leyendo...</strong></a>
			          	</p>
			       
			    </div>
		    {% endfor %}
        {% endif %}
    </div>  </div> 
	<div class="col-md-4" >
		<div class="actividades col-md-12 card">
		<h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Actividades</h4>
		{% if actividades %}
			{% for actividad in actividades %}
				
					<span class="fecha">
						<h4><a href="{{ actividad.get_absolute_url }}">{{actividad.titulo}}</a></h4>
					</span>
					<span class="fecha">
					{% if actividad.flyer %}
					<a href="{{ actividad.flyer.url }}" target="_blank"><img 
						src="{{ actividad.flyer.url }}" class="media-object img-responsive" />
					</a>
				{% else %}
					<img src="/media/publicaciones/img/nn.png" alt="" class="media-object img-responsive">
				{% endif %}	
					</span>

					<span class="fecha"><strong>{{actividad.fecha_inicio|date:'Y-m-d' }}</strong></span>
					<div class="atividad-name-home"><strong>
						<span>{{actividad.lugar}} </span></strong><br>
						<span aria-hidden="true">
							{{actividad.desarrollo|striptags|safe|truncatechars:"100"}}
						</span><br>             
					</div>
				<hr>
				</div>
			{% endfor %}
		{% endif %}
	</div>

    <div class="col-md-4" style="display: none;">
       <a class="twitter-timeline" data-height="450" data-theme="light" href="https://twitter.com/iiep_oficial?ref_src=twsrc%5Etfw">Tweets by iiep_oficial</a>
       <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock %}
