{% extends "base.html" %}
{% load static %}

{% block css_extra %}
<style type="text/css">
    .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>
{% endblock %}

{% block title %} MESI - Matrices {% endblock %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Modelos</li>
</ol>

<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            {% if error %}
                <div class="alert alert-danger alert-dismissible show" role="alert">
                    <strong>Error!</strong> {{msj}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <h3>Regional I-O MATRIX</h3><hr><br>
            <form enctype="multipart/form-data" action="" method="POST" class="post-form">
                {% csrf_token %}
                <p><label for="id_nacional">National I-O Matrix:</label>
                    <input type="file" name="nacional" class="form-control" required id="id_nacional">
                </p>
                <p><label for="id_regional">Regional GPV:</label>
                    <input type="file" name="regional" class="form-control" required id="id_regional">
                </p>
                <p><label for="id_sector">Sectors Matching for Aggregation:</label>
                    <input type="file" name="sector" class="form-control" required id="id_sector">
                </p>
                <br>
                <input type="submit" class="btn btn-primary btn-block py-2" value="Calculate Regional I-O Matrix">
            </form>
        </div>
        <div class="col-sm-6 col-md-6">
            <h3>Tutorial</h3><hr><br>
            {% if context %}
                {% for conf in context %}
                    <!-- <h4>{{ conf.titulo }}</h4> -->
                    {% if conf.link %}
                        <iframe width="560" height="315" 
                        src="https://www.youtube.com/embed/{{conf.link|slice:'-11:'}}"
                        frameborder="0" allowfullscreen></iframe>
                        <!-- <video name='video' controls autoplay >
                            <source src="{{ conf.link }}" type="video/mp4"></source>
                        </video> -->
                    {% endif %}
                    {% if conf.tutorial %}
                        <p>
                            <a target="_blank" class="btn btn-default" role="button" href="{{ conf.tutorial.url }}">
                            </i> Descargar tutorial en pdf</a>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
           
        </div>
    </div>
    <div class="well">
        <p>González, S. N., Romero, C. A., Negri, P. A., Ramos, M. P., & Marino, M. (2020). Regional Input-Output Tables Estimation through Indirect Methods: Software and the Buenos Aires province application case. IIEP (UBA-CONICET) - Workshop "Bioenergía y Desarrollo Regional", Noviembre.
        </p>
    </div>
</div>
{% endblock %}
        