{% extends "base.html" %}
{% load static %}

{% block title %} MESI - Matrices {% endblock %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li><a href="{% url 'pde:in' %}">Modelos</a></li>
	<li class="active">Formulario de resultados</li>
</ol>

<h1>Regional I-O MATRIX - Results</h1>
<hr>

<div class="page-content row">
	<div class="col-12" >
		{% for file in files %}
			<p>
				<strong>Archivo {{file|slice:":-5"}} </strong>
				<a target="_blank" class="btn btn-default" role="button" href="/media/downloads/files/out/{{file}}">
					<i class="glyphicon glyphicon-download-alt"></i> Descargar archivo
				</a>
			</p>
		{% endfor %}
	</div>
</div>

{% endblock %}