{% extends "base.html" %}
{% load static %}

{% block title %} MESI - Actividad IIEP {% endblock %}

{% block content %}
 <ol class="breadcrumb">
    <li><a href="{% url 'core:home' %}">Inicio</a></li>
    <li><a href="{% url 'app:actividades-iiep' %}">Actividades IIEP</a></li>
	<li class="active">{{evento.titulo_espanol|safe}}</li>
  </ol>

<hr>

<div class="page-content row">
    <div class="col-12" >
        <div class="col-md-8 col-md-offset-2 " >
            <h2 style="color: green;">{{evento.titulo_espanol|safe}}</h2>
            <p>{{evento.texto_espanol|safe}}</p>
        </div>
        
    </div>

</div>
{% endblock %}

