{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Actividades {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Actividades</li>
</ol>
<h1>Actividades MESi</h1>
<hr>

<div class="page-content">
	<div class="col-md-12">
		{% if actividad_list %}
			{% for actividad in actividad_list %}
			<div class="media">
					
					<div class="img col-md-2">
					{% if actividad.flyer %}
					<a href="{{ actividad.flyer.url }}" target="_blank"><img 
						src="{{ actividad.flyer.url }}" class="media-object img-responsive" />
					</a>
				{% else %}
					<img src="/media/publicaciones/img/nn.png" alt="" class="media-object">
				{% endif %}	
			</div>				
			<div class="media-body">
			
					<h4><a href="{{ actividad.get_absolute_url }}">{{actividad.titulo}}</a></h4>
				
						<strong>{{actividad.fecha_inicio|date:'Y-m-d' }} - {{actividad.hora_inicio}}</strong>
					
					<strong>
						<span>{{actividad.lugar}} </span></strong><br>
						<span aria-hidden="true">
							{{actividad.desarrollo|striptags|safe|truncatechars:"300"}}
						</span><br>             
					</div>
					<hr>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-info">No existen actividades...</div>
		{% endif %}
	</div>
</div>
{% endblock %}
