{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Datos {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Datos</li>
</ol>
<h1>Datos y Estadísticas - MESi</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#energia" aria-controls="energia" role="tab" data-toggle="tab">Energía y Ambiente</a></li>
	<li role="presentation"><a href="#sectoriales" aria-controls="sectoriales" role="tab" data-toggle="tab">Datos Sectoriales</a></li>
	<li role="presentation"><a href="#matriciales" aria-controls="matriciales" role="tab" data-toggle="tab">Datos Matriciales</a></li>
	<li role="presentation"><a href="#comercio" aria-controls="comercio" role="tab" data-toggle="tab">Comercio</a></li>

</ul>

<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="energia" style="padding-top:15px;">
		{% include 'includes/datos/energia.html' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="sectoriales" style="padding-top:15px;">
		{% include 'includes/datos/sectoriales.html' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="matriciales" style="padding-top:15px;">
		{% include 'includes/datos/matriciales.html' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="comercio" style="padding-top:15px;">
		{% include 'includes/datos/comercio.html' %}
	</div>
</div>
{% endblock %}
