{% extends "base.html" %}
{% load static %}

{% block css_extra %}
<style type="text/css">
	body { 
		padding-top:30px;
	}
	.glyphicon {
		margin-bottom: 10px;margin-right: 10px;
	}
	small {
		display: block;
		line-height: 1.428571429;
		color: #999;
	}
</style>
{% endblock %}

{% block title %} MESi - Detalles {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li><a href="{% url 'app:investigadores-list' %}">Integrantes MESi</a></li>
	<li class="active">{{ investigador }}</li>
</ol>
<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            {% if investigador.avatar %}
				<img src="{{ investigador.avatar.url }}" alt="Avatar" 
                style="border-radius: 50%; width: 100%;">
			{% else %}
				<img src="/media/investigadores/img/avatar/male.png" alt="Avatar" class="img-responsive">
			{% endif %}
        </div>
        <div class="col-sm-9 col-md-9 well">
            <h4><b>{{ investigador }}</b></h4>
            <small>
            	<cite title="Buenos Aires, ARG">Buenos Aires, ARG 
            		<i class="glyphicon glyphicon-map-marker"></i>
            	</cite>
            </small>
            <p>
            	<i class="glyphicon glyphicon-info-sign"></i>{{investigador.get_tipo_display}}<br/>
                <i class="glyphicon glyphicon-envelope"></i>{{investigador.email}}<br/>
                {% if investigador.link %}
                    <i class="glyphicon glyphicon-globe"></i>
                    <a href="{{ investigador.link }}" target="_blank">{{investigador.link}}</a><br/>
                {% endif %}
                {% if investigador.orcid %}
                    <i class="glyphicon glyphicon-cloud"></i>
                    <a href="https://orcid.org/{{ investigador.orcid }}" target="_blank">
                        Visita mi página de Orcid
                    </a><br>
                {% endif %}
                {% if investigador.curriculum %}
                    <i class="glyphicon glyphicon-file"></i>
                    <a href="{{ investigador.curriculum.url }}" target="_blank">Mi curriculum</a><br/>
                {% endif %}
            </p>
            <h4>Perfil</h4>
            <p>{{investigador.perfil|safe}}</p>
            <h4>Biografía</h4>
            <p>{{investigador.biografia|safe}}</p>
        </div>
    </div>
</div>

{% endblock %}