{% extends "base.html" %}
{% load static %}

{% block title %} MESi Modelos Económicos de Simulación - Integrantes {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Integrantes</li>
</ol>

<div class=" integrantes">
<h2>Integrantes de MESi</h2>
<div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#inves" aria-controls="inves" role="tab" data-toggle="tab">Investigadores</a></li>
		<li role="presentation"><a href="#asociados" aria-controls="asociados" role="tab" data-toggle="tab">Investigadores Asociados</a></li>
		<li role="presentation"><a href="#becarios" aria-controls="becarios" role="tab" data-toggle="tab">Becarios/as</a></li>
		<li role="presentation"><a href="#auxiliares" aria-controls="auxiliares" role="tab" data-toggle="tab">Auxiliares</a></li>
		<li role="presentation"><a href="#otros" aria-controls="otros" role="tab" data-toggle="tab">Otros</a></li>
	</ul>
	  
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="inves" style="padding-top:15px;">
			{% include 'includes/integrantes/investigadores.html' %}
		</div>
		<div role="tabpanel" class="tab-pane" id="asociados" style="padding-top:15px;">
			{% include 'includes/integrantes/asociados.html' %}
		</div>
		<div role="tabpanel" class="tab-pane" id="becarios" style="padding-top:15px;">
			{% include 'includes/integrantes/becarios.html' %}
		</div>
		<div role="tabpanel" class="tab-pane" id="auxiliares" style="padding-top:15px;" >
			{% include 'includes/integrantes/auxiliares.html' %}
		</div>
		<div role="tabpanel" class="tab-pane" id="otros" style="padding-top:15px;">
			{% include 'includes/integrantes/otros.html' %}
		</div>
		</div>
	</div>
</div>

{% include 'includes/paginacion.html' %}

{% endblock %}