{% extends "base.html" %}
{% load static %}

{% block title %} MESI - Novedades {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Novedades</li>
</ol>
<h1>Novedades MESI</h1>
<hr>

<div class="page-content">
	<div class="col-md-12">
		{% if publicaciones %}<!-- if publicaciones para la funcion def PublicacionesView-->
			{% for publicacion in publicaciones %}<!-- for publicacion in publicaciones -->
				<div class="card col-md-3 novedades">
					<div class="image-content">
						<img alt="" src="{{ publicacion.imagen.thumbnail.url }}" class="card-img-top img-thumbnail"/>
					</div>
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{ publicacion.get_absolute_url }}">
								{{ publicacion.titulo }}
							</a>
						</h5>
						{% if publicacion.copete %}
							<p>{{publicacion.copete|striptags|safe|truncatechars:"200"}}</p>
						{% else %}
							<p>{{publicacion.desarrollo|striptags|safe|truncatechars:"200"}}</p>
						{% endif %}
						<p><a href="{{ publicacion.get_absolute_url }}">
							<strong>Continuar leyendo...</strong> 
							</a>
						</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-info">No existen publicaciones...</div>
		{% endif %}

		{% if novedades %}<!-- if novedad_list para la funcion def PublicacionesView-->
			{% for novedad in novedades %}<!-- for publicacion in publicaciones -->
				<div class="card col-md-3 novedades">
					<div class="image-content">
						<img alt="" src="{{ novedad.imagen.thumbnail.url }}" class="card-img-top img-thumbnail"/>
					</div>
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{ novedad.get_absolute_url }}">
								{{ novedad.titulo }}
							</a>
						</h5>
						{% if novedad.copete %}
							<p>{{novedad.copete|striptags|safe|truncatechars:"200"}}</p>
						{% else %}
							<p>{{novedad.desarrollo|striptags|safe|truncatechars:"200"}}</p>
						{% endif %}
						<p><a href="{{ novedad.get_absolute_url }}">
							<strong>Continuar leyendo...</strong> 
							</a>
						</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-info">No existen novedades...</div>
		{% endif %}
	</div>
</div>
{% endblock %}
