{% extends "base.html" %}
{% load static %}

{% block title %} MESI - Proyectos {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Proyectos</li>
</ol>
<h1>Proyectos MESI</h1>
<hr>

<div class="page-content">
	<div class="col-md-12">
		{% if proyecto_list %}<!-- if publicaciones para la funcion def PublicacionesView-->
			{% for proyecto in proyecto_list %}<!-- for publicacion in publicaciones -->
				<div class="card col-md-3 proyectos">
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{ proyecto.get_absolute_url }}">
								{{ proyecto.titulo }}
							</a>
						</h5>
						<div class="date">
							{% for autor in proyecto.autores.all %}
								<span>{{ autor }},</span>
							{% endfor %}
						</div>
						{% if proyecto.copete %}
							<p>{{proyecto.copete|striptags|safe|truncatechars:"200"}}</p>
						{% else %}
							<p>{{proyecto.desarrollo|striptags|safe|truncatechars:"200"}}</p>
						{% endif %}
						<p><a href="{{ proyecto.get_absolute_url }}">
							<strong>Continuar leyendo...</strong> 
							</a>
						</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-info">No existen proyectos...</div>
		{% endif %}
	</div>
</div>
{% endblock %}
