{% extends "base.html" %}
{% load static %}

{% block title %} MESI - Proyectos IIEP {% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
	<li class="active">Proyectos IIEP</li>
 </ol>
  <h1>Proyectos IIEP</h1>
<hr>

<div class="page-content row">
<div class="col-md-12">
{% if proyectos %}
{% for proyecto in proyectos %}
<div class="card col-md-3 proyectos">
  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ proyecto.get_absolute_url }}">
        {{ proyecto.titulo_espanol }}
      </a>
    </h5>
    {% if proyecto.descripcion_espanol %}
      <p>{{proyecto.descripcion_espanol|safe|truncatechars:"200"}}</p>
    {% else %}
      <p></p>
    {% endif %}
    <p><a href="{{ proyecto.get_absolute_url }}">
      <strong>Continuar leyendo...</strong> 
      </a>
    </p>
  </div>
</div>
{% endfor %}
{% endif %}

</div>


	<div class="col-sm-12">
        {% if proyectos.has_other_pages %}
      <ul class="pagination">
        {% if proyectos.has_previous %}
          <li><a href="?page={{ proyectos.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in proyectos.paginator.page_range %}
          {% if proyectos.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if proyectos.has_next %}
          <li><a href="?page={{ proyectos.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </div>
</div>
{% endblock %}
