{% extends "base.html" %}
{% load static %}

{% block title %} MESI - Proyectos de MESi  {% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
	<li class="active">Proyectos de MESi </li>
 </ol>
  <h1>Proyectos de MESi </h1>
<hr>

<div class="page-content row">

<div class="page-content">
<div class="container">
  <div class="row">
    {% if proyectos %}
      {% for proyecto in proyectos %}
        <div  class="col-lg-4" style="min-height: 220px;">
          <div class="card-body h-100">
            <h4>
              <a href="{{ proyecto.get_absolute_url }}">
                {{ proyecto.titulo_espanol|title|truncatechars:100}}
              </a>
            </h4>
            <p>{{proyecto.descripcion_espanol|truncatechars:200}}</p>
          </div>
          <div class="card-footer">
            <a class="card-link" href="{{ proyecto.get_absolute_url }}" role="button">
              Continuar leyendo...
            </a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <hr>
</div>


	<div class="col-sm-12">
        {% if proyectos.has_other_pages %}
      <ul class="pagination">
        {% if proyectos.has_previous %}
          <li><a href="?page={{ proyectos.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in proyectos.paginator.page_range %}
          {% if proyectos.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if proyectos.has_next %}
          <li><a href="?page={{ proyectos.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </div>
</div>
{% endblock %}
