{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Detalles {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li><a href="{% url 'app:proyectos-list' %}">Proyectos MESi</a></li>
	<li class="active">{{ proyecto.titulo }}</li>
</ol>

<h1>{{ proyecto.titulo }}</h1>
<hr>

<div class="page-content row">
	<div class="col-12" >
		<div class="col-md-4">
			<p><strong>Fecha de Inicio: </strong>{{ proyecto.fecha_inicio }}</p>
			<p>
				{% if proyecto.fecha_final %}
					<strong>Archivos: </strong>
					{{ proyecto.fecha_final }}
				{% endif %}
			</p>
		</div>
		<div class="col-md-8 fecha-proyecto">
			<p><strong>Autor/es: </strong>
				{% for autor in proyecto.integrantes.all %}
					<span>{{ autor }},</span>
				{% endfor %}
			</p>
			<p><strong>Cita APA: </strong>{{ proyecto.copete|safe }}</p>
			<p><strong>Resumen/Abstract: </strong>{{ proyecto.desarrollo|safe }}</p>
			<p><strong>Archivos: </strong>
				{% for file in proyecto.archivo_set.all %}
					<a target="_blank" class="btn btn-default" role="button" href="{{ file.archivo.url }}">
						<i class="glyphicon glyphicon-download-alt"></i> Descargar archivo
					</a>
				{% endfor %}
			</p>
		</div>
	</div>
</div>
{% endblock %}