{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Publicaciones {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Publicaciones</li>
</ol>
<h1>Publicaciones MESi</h1>
<div>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#todas" aria-controls="todas" role="tab" data-toggle="tab">Todas</a></li>
		<li role="presentation"><a href="#publicaciones" aria-controls="publicaciones" role="tab" data-toggle="tab">Publicaciones Académicas</a></li>
		<li role="presentation"><a href="#informes" aria-controls="informes" role="tab" data-toggle="tab">Informes Técnicos</a></li>
	
		<li role="presentation"><a href="#otros" aria-controls="otros" role="tab" data-toggle="tab">Tesis</a></li>
		<li role="presentation"><a href="#notas" aria-controls="notas" role="tab" data-toggle="tab">Notas </a></li>
	</ul>

	  <!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="todas" style="padding-top:15px;" >
			{% include 'includes/publicaciones/todas.html' %}
		</div>
		<div role="tabpanel" class="tab-pane" id="publicaciones" style="padding-top:15px;">
			{% include 'includes/publicaciones/academicas.html' %}
		</div>
		
	  	<div role="tabpanel" class="tab-pane" id="informes" style="padding-top:15px;">
			{% include 'includes/publicaciones/informes.html' %}
		</div>
		
		<div role="tabpanel" class="tab-pane" id="otros" style="padding-top:15px;">
			{% include 'includes/publicaciones/tesis.html' %}
		</div>
		<div role="tabpanel" class="tab-pane" id="notas" style="padding-top:15px;">
			{% include 'includes/publicaciones/notas.html' %}
		</div>
	</div>
</div>
{% endblock %}
