{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Detalles {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li><a href="{% url 'app:publicaciones-list' 'nn' %}">Publicaciones MESI</a></li>
	<li class="active">{{ publicacion.titulo }}</li>
</ol>

<h1>{{ publicacion.titulo }}</h1>
<hr>

<div class="page-content row">
	<div class="col-12" >
		<div class="col-md-4">
			<div class="image-content-detail">
			{% if publicacion.imagen %}
				<a href="{{ publicacion.imagen.url }}"><img alt="" src="{{ publicacion.imagen.url }}" class="card-img-top img-thumbnail"/></a>
			{% else %}
				<img src="/media/publicaciones/img/nn.png" alt="" class="card-img-top img-thumbnail">
			{% endif %}
			</div>
		</div>
		<div class="col-md-8 fecha-publicacion">
			<p><strong>{{ publicacion.fecha }}</strong></p>
			<p><strong>Autor/es: </strong>
				{% for autor in publicacion.integrantes.all %}
					<span>{{ autor }},</span>
				{% endfor %}
			</p>
			{% if publicacion.copete %}
				<p><strong>Cita APA: </strong>{{ publicacion.copete|safe }}</p>
			{% endif %}
			<p><strong>Resumen/Abstract: </strong>{{ publicacion.desarrollo|safe }}</p>
			{% if publicacion.video %}
				<p><strong>Video: </strong>
					{% if publicacion.video %}
						<video name='video' controls autoplay width='50%' height='40%'>
							<source src="{{ publicacion.video.url }}" type="video/mp4"></source>
						</video>
					{% endif %}
				</p>
			{% endif %}
			{% if publicacion.archivo_set %}
				<p><strong>Archivos: </strong>
					{% for file in publicacion.archivo_set.all %}
						<a target="_blank" class="btn btn-default" role="button" href="{{ file.archivo.url }}">
							<i class="glyphicon glyphicon-download-alt"></i> Descargar archivo
						</a>
					{% endfor %}
				</p>
			{% endif %}
			{% if publicacion.video %}
				<p><strong>Medios: {{ publicacion.medios }}</strong></p>
			{% endif %}
			{% if publicacion.link %}
				<p><strong>Link: </strong>
					<a target="_blank" href="{{publicacion.link}}">{{publicacion.link}}</a>
				</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}