{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Publicaiones {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Publicaciones</li>
</ol>
<h1>Publicaciones MESi</h1>
<div>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#todas" aria-controls="todas" role="tab" data-toggle="tab">Todas</a></li>
		<li role="presentation"><a href="#notas" aria-controls="notas" role="tab" data-toggle="tab">Notas </a></li>
		<li role="presentation"><a href="#informes" aria-controls="informes" role="tab" data-toggle="tab">Informes técnicos</a></li>
		<li role="presentation"><a href="#publicaciones" aria-controls="publicaciones" role="tab" data-toggle="tab">Publicaciones académicas</a></li>
		<li role="presentation"><a href="#otros" aria-controls="otros" role="tab" data-toggle="tab">Otros</a></li>

	  </ul>

	  <!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="todas" style="padding-top:15px;" >
				
				<div style="clear: both;"></div>
		  </div>
		  <div role="tabpanel" class="tab-pane" id="notas" style="padding-top:15px;">jjj
			<div style="clear: both;"></div>
		</div>
		  <div role="tabpanel" class="tab-pane" id="informes" style="padding-top:15px;">kkk
			<div style="clear: both;"></div>
		</div>
		  <div role="tabpanel" class="tab-pane" id="publicaciones" style="padding-top:15px;">lll
			<div style="clear: both;"></div>
		</div>
		  <div role="tabpanel" class="tab-pane" id="otros" style="padding-top:15px;">eee
			<div style="clear: both;"></div>
		</div>

	</div>

<div class="page-content">
	<div class="col-md-12">
		{% if publicaciones %}<!-- publicaciones_list > class view o if publicaciones > def view -->
			{% for publicacion in publicaciones %}
				<div class="card col-md-4 publicaciones">
					<div class="image-content">
						{% if publicacion.imagen %}
							<a href="{{ publicacion.imagen.url }}"><img alt="" src="{{ publicacion.imagen.url }}" class="card-img-top img-thumbnail"/></a>
						{% else %}
							<img src="/media/publicaciones/img/nn.png" alt="" class="card-img-top img-thumbnail">
						{% endif %}
					</div>
					<div class="card-body">
						<h4 class="card-title">
							<a href="{{ publicacion.get_absolute_url }}">
								{{ publicacion.titulo }}
							</a>
						</h4>
						<h5 class="card-title">
							Categoria: {{ publicacion.categoria }}
						</h5>
						<div class="date">
							{% for autor in publicacion.integrantes.all %}
								<span>{{ autor }},</span>
							{% endfor %}
						</div>
						{% if publicacion.copete %}
							<p>{{publicacion.copete|safe|truncatechars:"200"}}</p>
						{% else %}
							<p>{{publicacion.desarrollo|safe|truncatechars:"200"}}</p>
						{% endif %}
						<p><a href="{{ publicacion.get_absolute_url }}">
							<strong>Continuar leyendo...</strong> 
							</a>
						</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-info">No existen publicaciones...</div>
		{% endif %}
	</div>
</div>
{% endblock %}
