{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Publicaiones {% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'core:home' %}">Inicio</a></li>
	<li class="active">Publicaciones</li>
</ol>
<h1>Publicaciones MESi</h1>
<hr>

<div class="page-content">
	<div class="col-md-12">
		{% if publicaciones %}<!-- publicaciones_list > class view o if publicaciones > def view -->
			{% for publicacion in publicaciones %}
				<div class="card col-md-3 publicaciones">
					<div class="image-content">
						{% if publicacion.imagen %}
							<a href="{{ publicacion.imagen.url }}"><img alt="" src="{{ publicacion.imagen.url }}" class="card-img-top img-thumbnail"/></a>
						{% else %}
							<img src="/media/publicaciones/img/nn.png" alt="" class="card-img-top img-thumbnail">
						{% endif %}
					</div>
					<div class="card-body">
						<h3 class="card-title">
							<a href="{{ publicacion.get_absolute_url }}">
								{{ publicacion.titulo }}
							</a>
						</h3>
						<h5 class="card-title">
							Categoria: {{ publicacion.categoria }}
						</h5>
						<div class="date">
							{% for autor in publicacion.integrantes.all %}
								<span>{{ autor }},</span>
							{% endfor %}
						</div>
						{% if publicacion.copete %}
							<p>{{publicacion.copete|safe|truncatechars:"200"}}</p>
						{% else %}
							<p>{{publicacion.desarrollo|safe|truncatechars:"200"}}</p>
						{% endif %}
						<p><a href="{{ publicacion.get_absolute_url }}">
							<strong>Continuar leyendo...</strong> 
							</a>
						</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-info">No existen publicaciones...</div>
		{% endif %}
	</div>
</div>
{% endblock %}
