{% extends "base.html" %}
{% load static %}

{% block title %} MESi - Publicaciones IIEP {% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
	<li class="active">Publicaciones IIEP</li>
 </ol>
  <h1>Publicaciones IIEP</h1>
<hr>

<div class="page-content row">
	<div class="col-md-12">
        {% if publicaciones %}
		{% for publicacion in publicaciones %}
           <div class="card col-md-3 publicaciones">
			<div class="image-content">
<!-- ******************************************************************************************** -->
				<img class="card-img-top img-thumbnail" src="http://iiep-baires.econ.uba.ar/uploads/publicaciones/{{publicacion.id}}/imagenes/1_ficha.jpg" alt="Card image cap">
<!-- ******************************************************************************************** -->
			</div>
			<div class="card-body" style="height: 253px;overflow:hidden;">
			  <h5 class="card-title"> <a href="{{ publicacion.get_absolute_url }}">{{publicacion.titulo_espanol}}</a></h5>
       		  <p class="date">{{publicacion.fecha|date:'Y-m-d'}}</p>
       		  <p class="card-text">{{publicacion.texto_espanol|safe}}</p>
			</div>
			<p> <a href="{{ publicacion.get_absolute_url }}">
        		<strong>Leer más...</strong> 
      			</a>
           </p>
		 </div>
		{% endfor %}
        {% endif %}

    </div>
</div>
 <div class="row">
        {% if publicaciones.has_other_pages %}
      <ul class="pagination">
        {% if publicaciones.has_previous %}
          <li><a href="?page={{ publicaciones.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in publicaciones.paginator.page_range %}
          {% if publicaciones.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if publicaciones.has_next %}
          <li><a href="?page={{ publicaciones.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </div>
{% endblock %}
