.django-ckeditor-widget, .cke_editor_id_desarrollo, .cke_editor_id_resumen_Abstract, .cke_editor_id_cita_APA, .cke_editor_id_biografia {
    width: 100% !important;
    max-width: 800px !important;
    resize: none;
}